/*style.css*/
body{
	background: url(../img/background.png);
}
input{
	outline:none
}
header{
	padding-top: 100px;
	padding-bottom:50px;
}
.img-center{
	margin: 0 auto;
}

ul > .about{
	background-color:transparent;
	border: solid 1px #000;
}
li > .about{

}
button:focus{
	border: none !important;
}
.top-buffer { 
	margin-top:20px; 
} 
.top-minibuffer{
	margin-top:10px;
}
.question_text{
	color:white;
	position:absolute; 
	top:20%;
	padding: 0 10%;
}
#progresso {
width: 20%;
margin: 0 auto;
background-color: #C0C0C0;
}

#barra {
width: 1%;
height: 30px;
background-color: #0041C2;
}