/*style.css*/
body{
	background: url(../img/background.png);
}
input{
	outline:none
}
header{
	padding-top: 80px; 
	padding-bottom:35px;
}
.img-center{
	margin: 0 auto;
}
.navbar-padding-left{
	padding-left: 10px;
}